<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CATEGORIES
        </button>
        <ul class="dropdown-menu " aria-labelledby="dLabel">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </nav>

<div class="col-lg-8 col-lg-offset-2">
 
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>TO SIMPLE ORDER</p>
       
        <!-- <img src="assets/social-3.png" /> -->

    
            <div class="container">
        
                    <!-- creating card -->
        
                <div class="row">
                   
                  <div class="col order-last">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/160211_7800_1.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color:  rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Trouser</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/croptop.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Crop Top</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                      </div>
                  </div>
                  <div class="col order-first">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/Boxers.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Boxers</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                      </div>
                  </div>
                </div>
              </div> 
        
              <div class="container">
                <div class="row">
                  <div class="col order-last">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/Cheap Cropped Tops.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">cheape_Crop</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/Nike Hoodie.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Nike Hoodie</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col order-first">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/The-Modest-Man-homepage-3.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Combo</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                      </div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col order-last">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/Goft T-shirt.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">T-Shirt</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/Shirt.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Shirt</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col order-first">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/All star.jpg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">All-Star</h5>
                          
                          <a href="#!" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                      </div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col order-last">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/160211_7800_1.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Trouser</h5>
                          
                          <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/160211_7800_1.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Trouser</h5>
                          
                          <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col order-first">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/160211_7800_1.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Trouser</h5>
                          
                          <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                      </div>

                      </div>
                  </div>
                </div>
              </div>
        
        
        
              <div class="container">
                <div class="row">
                  <div class="col order-last">
                    <div class="card" style="width: 18rem;">
            
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/160211_7800_1.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Trouser</h5>
                          
                          <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/160211_7800_1.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Trouser</h5>
                          
                          <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                      </div>

                      </div>
                  </div>
                  <div class="col order-first">
                    <div class="card" style="width: 18rem;">
                        
                      <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img
                            src="/assets/160211_7800_1.jpeg"
                            class="img-fluid"
                          />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Trouser</h5>
                          
                          <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                      </div>

                      </div>
                  </div>
                </div>
              </div>
   
</div>

