
<div class="navigation col-lg-12">

   
    <nav class="navbar navbar-default">
        <div class="container-fluid">

         
            
            <h1>
                SIMPLE ORDER
            </h1>
            <div class="navbar-header" *ngIf="!identity">
                <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="navbar-brand">Home</a>
            </div>
           
    
            <ul class="nav navbar-nav navbar-right" >
                <li>
                    <a [routerLink]="['/login']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li>
                    <a [routerLink]="['/register']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
                <li>
                    <a class="pointer" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
               
            </ul>

            <!-- <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">My Account
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Personal Details</a></li>
                  <li><a href="#">Track Order</a></li>
                  <li><a href="#">Returns</a></li>
                </ul>
              </div>  -->
            
        </div>

        
    </nav>
</div>
<router-outlet></router-outlet>
